@keyframes moveInTop {
  0% {
    transform: translateY(-5px) rotateX(70deg);
    opacity: 0; }
  20% {
    transform: translateY(-7px) rotateX(55deg);
    opacity: 0.3; }
  40% {
    transform: translateY(-5px) rotateX(35deg);
    opacity: 0.6; }
  80% {
    transform: translateY(-1px) rotateX(15deg);
    opacity: 0.8; }
  100% {
    transform: translateY(0) rotateX(0);
    opacity: 1; } }

@keyframes moveFromRight {
  0% {
    transform: translateX(2px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes nameRotate {
  0% {
    transform: rotateX(75deg) translateY(-5px);
    opacity: 0; }
  100% {
    transform: rotateX(0deg) translateY(0);
    opacity: 1; } }

@keyframes expandMenuToBottom {
  0% {
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes arrowInfinit {
  0% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(2.5rem); } }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  color: #1A3953;
  padding: 2rem;
  height: 100vh;
  position: relative; }

body {
  font-family: "Google sans";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5; }

.ut-title-active {
  color: #fff !important;
  background-color: #1A3953 !important; }
  .ut-title-active::before {
    content: "\00B7";
    padding-right: 5px;
    color: #FFFFFF;
    transition: all 0.2s; }
  .ut-title-active::after {
    content: "\00B7";
    padding-left: 5px;
    color: #FFFFFF;
    transition: all 0.2s; }

.ut-margin-smaller {
  margin-bottom: 1rem !important; }

.ut-margin-small {
  margin-bottom: 2rem !important; }

.ut-margin-medium {
  margin-bottom: 4rem !important; }

.ut-margin-big {
  margin-bottom: 6rem !important; }

.ut-margin-bigger {
  margin-bottom: 8rem !important; }

.btn-cta {
  font-size: 1.7rem;
  border: none;
  background-color: #1A3953;
  color: #FFFFFF;
  padding: 1rem 3rem;
  width: 95%;
  display: block;
  margin-right: auto;
  border-radius: 4px;
  margin-bottom: 2.8rem;
  outline: none;
  transition: all 0.2s;
  box-shadow: 0 0.6rem 1.5rem rgba(26, 57, 83, 0.2); }
  .btn-cta:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 2rem rgba(26, 57, 83, 0.2); }
  .btn-cta:active {
    transform: translateY(-1px);
    box-shadow: 0 0.6rem 1.5rem rgba(26, 57, 83, 0.2); }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  font-family: "Google sans";
  font-weight: 500;
  display: block;
  text-decoration: none;
  background-color: #fff;
  color: #1A3953;
  width: 95%;
  padding: 1rem 3rem;
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 2rem rgba(26, 57, 83, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.6rem 1.5rem rgba(26, 57, 83, 0.2); }

.arrow {
  font-size: 2rem;
  display: inline-block;
  transform: translateX(1rem);
  transition: all 0.2s; }

.btn-cta:hover > .arrow {
  animation: arrowInfinit 0.6s 3 backwards; }

.footer-min {
  background-color: red;
  width: 85%;
  margin: 0 auto;
  transform: translateY(-2.3rem);
  border-radius: 6px 6px 0 0;
  border: 2.5px solid #69C6C5;
  overflow: hidden; }
  .footer-min__list {
    display: inline-block;
    list-style: none;
    width: 90%;
    text-align: center;
    background-color: #fff;
    border-radius: 4px 0 0 0; }
  .footer-min__item {
    display: inline-block;
    font-size: 1.3rem;
    font-family: "Google sans";
    font-weight: 500;
    line-height: 1;
    padding: 0.2rem 1rem;
    background-color: red;
    position: relative; }
    .footer-min__item:not(:last-child) {
      margin-right: 3rem; }
  .footer-min__copyright {
    font-size: 2.6rem;
    font-family: "Google sans";
    position: absolute;
    top: 3px;
    left: 3px; }
  .footer-min__icons-list {
    display: inline-block;
    list-style: none;
    background-color: yellow; }
  .footer-min__icon-item {
    display: inline-block; }
  .footer-min__icon {
    height: 1.5rem;
    width: 1.5rem; }

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .nav__list {
    list-style: none;
    height: 10rem;
    width: 10rem;
    margin-top: 0;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 4rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #1A3953;
    padding: 1rem;
    border-radius: 4px;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nav__link:hover {
    transform: scale(1.1);
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
    background-color: #ffffff; }
  .nav__link:active {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15); }
  .nav__icon {
    height: 6.5rem;
    width: 6.5rem; }
    .nav__icon--obj {
      margin-right: -2.5rem; }
    .nav__icon--tele {
      margin-left: 0.5rem; }
  .nav__text {
    font-size: 1.3rem; }

.login-form {
  margin-top: 2.5rem; }

.form-box {
  display: block;
  font-family: "Google sans";
  position: relative;
  max-width: 100%;
  height: 4.3rem;
  margin-bottom: 3.5rem; }
  .form-box__input {
    display: inline-block;
    width: 95%;
    height: 4.3rem;
    padding: 1rem 1.5rem;
    font-family: "Google sans";
    font-size: 1.3rem;
    font-weight: bold;
    color: #1A3953;
    border-radius: 4px;
    border-bottom: 2px solid #1A3953;
    background-color: #EFF2F4;
    border: 2px solid #1A3953;
    box-shadow: 0 0.6rem 2rem rgba(26, 57, 83, 0.3);
    transition: all 0.2s; }
    .form-box__input:focus {
      outline: none;
      box-shadow: 0 0.6rem 2rem rgba(26, 57, 83, 0.3);
      width: 100%;
      border-bottom: 2px solid #1A3953;
      font-size: 1.6rem;
      font-weight: 500;
      -moz-appearance: number-input;
      -webkit-appearance: number-input; }
    .form-box__input::-webkit-inner-spin-button {
      -webkit-appearance: none; }
  .form-box__label {
    display: inline-block;
    min-width: 3.8rem;
    font-family: "Google sans";
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #EFF2F4;
    line-height: 1;
    color: #1A3953;
    transform: translate(1.3rem, -5.3rem);
    transition: all 0.2s; }
  .form-box__input:placeholder-shown + .form-box__label {
    transform: translate(1.7rem, -2.7rem);
    visibility: hidden;
    opacity: 0; }
  .form-box__icon {
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    fill: #777;
    position: absolute;
    top: 1.4rem;
    right: 2.5rem;
    transition: all 0.2s; }
    .form-box__icon--lock {
      height: 1.9rem;
      width: 1.9rem;
      right: 2.3rem;
      top: 1.2rem; }
  .form-box__input:focus ~ .form-box__icon {
    right: 1rem; }
    .form-box__input:focus ~ .form-box__icon--lock {
      right: 0.5rem; }
  .form-box__forgot-pw:link, .form-box__forgot-pw:visited {
    color: #483896;
    font-family: "Google sans";
    font-weight: normal;
    float: right;
    margin-right: 1.8rem;
    padding: 0.3rem;
    text-decoration: none; }

.logo-box {
  animation: moveInTop 0.4s ease-in-out 0.7s backwards;
  backface-visibility: hidden; }
  .logo-box__link:link, .logo-box__link:visited {
    text-decoration: none; }
  .logo-box__logo {
    height: 3rem; }

.heading-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.3rem;
  fill: currentColor;
  position: absolute;
  top: 31%;
  left: 42.7%;
  transform: translate(-50%, -50%); }

.heading-primary {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }

.heading-secondary {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center; }

.title-bar {
  display: block;
  text-transform: uppercase;
  padding: 1rem;
  margin-top: 6rem;
  text-align: center; }
  .title-bar__login {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #1A3953;
    padding: 0.6rem 1.8rem;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .title-bar__signup {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.6rem 1.3rem;
    margin-left: -0.4rem;
    color: #1A3953;
    background-color: #FFFFFF;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.user-dropdown {
  position: absolute;
  top: 2.5rem;
  right: -0.2rem;
  animation: moveFromRight 0.5s cubic-bezier(1, 0, 0, 1) 0.6s backwards; }
  .user-dropdown__checkbox-input {
    display: none; }
  .user-dropdown__button {
    height: 3.5rem;
    width: 3.5rem;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    top: 0rem;
    right: 1.2rem;
    border-radius: 100px;
    transition: width 0.2s;
    z-index: 100;
    opacity: 0;
    transition: all 0.2s; }
  .user-dropdown__checkbox-input:checked ~ .user-dropdown__button {
    right: 9rem; }
  .user-dropdown__icon-box {
    display: inline-block;
    background-color: #fff;
    height: 3.5rem;
    width: 5rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: width 0.2s; }
  .user-dropdown__checkbox-input:checked ~ .user-dropdown__icon-box {
    width: 12.8rem; }
  .user-dropdown__user-icon {
    height: 2.7rem;
    width: 2.7rem;
    vertical-align: middle;
    position: absolute;
    top: 0.4rem;
    right: 1.8rem;
    transition: all 0.2s; }
  .user-dropdown__checkbox-input:checked ~ .user-dropdown__icon-box > .user-dropdown__user-icon {
    right: 9.6rem; }
  .user-dropdown__user-name {
    display: none; }
  .user-dropdown__checkbox-input:checked ~ .user-dropdown__user-name {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #483896;
    min-width: 9rem;
    position: absolute;
    top: 0.6rem;
    right: 0rem;
    animation: nameRotate 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s backwards;
    backface-visibility: hidden; }
  .user-dropdown__list {
    display: none; }
  .user-dropdown__checkbox-input:checked ~ .user-dropdown__list {
    min-width: 10rem;
    background-color: #fff;
    display: inline-block;
    padding: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-top: -0.5rem;
    position: absolute;
    top: 3.9rem;
    right: 0;
    animation: expandMenuToBottom 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s backwards; }
  .user-dropdown__item {
    list-style: none;
    padding: 0 0.5rem;
    transition: all 0.1s ease-out; }
    .user-dropdown__item:not(:last-child) {
      margin-bottom: .8rem; }
    .user-dropdown__item:hover {
      transform: translateY(-2px); }
    .user-dropdown__item:active {
      transform: translateY(-1.3px); }
  .user-dropdown__link:link, .user-dropdown__link:visited {
    text-decoration: none;
    color: #483896; }
  .user-dropdown__item > .user-dropdown__link:hover {
    color: #1A3953; }
  .user-dropdown__icon {
    height: 1.55rem;
    width: 1.55rem;
    fill: currentColor;
    vertical-align: middle;
    margin-top: -0.3rem; }
  .user-dropdown__text {
    font-weight: 500;
    padding: 0.3rem;
    font-size: 1.35rem; }

.rows {
  max-width: 80%;
  margin: 0 auto; }
  .rows:not(:last-child) {
    margin-bottom: 3rem; }
  .rows::after {
    content: "";
    clear: both;
    display: table; }

[class^="coloum-"] {
  float: left; }
  [class^="coloum-"]:not(:last-child) {
    margin-right: 3rem; }

.coloum-1-of-2 {
  width: calc((100% -  3rem) / 2); }

.coloum-1-of-3 {
  width: calc((100% - 2* 3rem ) / 3); }

.coloum-1-of-4 {
  width: calc((100% - 3* 3rem) / 4); }

.container {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.3);
  border: 2.5px solid #69C6C5;
  background-image: linear-gradient(to left, #69c6c5 50%, #eff2f4 50%); }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.section-left {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 2.5rem;
  border-radius: 4px 0 0 4px;
  background-color: #EFF2F4; }

.section-right {
  float: right;
  width: 50%;
  height: 100%;
  padding: 2.5rem;
  background-color: #69C6C5;
  position: relative; }

.service-heading {
  padding: 1.5rem 0;
  color: #1A3953;
  position: relative; }

.left-navigation {
  height: 40rem;
  width: 50rem;
  margin: 0 auto;
  padding-top: 1.5rem; }

.form-section {
  width: 40rem;
  margin: 0 auto;
  padding: 3rem;
  height: 50rem; }
