// MAIN COLOR
$color-primary : #483896;
$color-secondary: #009B99;
$color-blue-dark: #1A3953;

// PANEL-BACKGROUND COLOR
$color-left-bg: #EFF2F4;
$color-right-bg: #69C6C5;

$color-white: #FFFFFF;
$color-white-light: #EEEEEE;
$color-black: #000000;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-gray: #707070;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$font-main: 'Google sans';
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-bold: bold ;



$grid-width: 80%;
$grid-height: 80%;
$hori-gutter: 3rem;
$vertical-gutter: 3rem;



