.header {
    padding: 2rem; 
    
    // position: relative;
}
.login-form {
    // background-color: rebeccapurple;
    width: 45rem;
    padding: 2rem; 
    margin: 0 auto;
    border-radius: $radius-smaller;
    box-shadow: 0 0px 1.5px rgba($color-black, 0.2);
}

.user-dropdown {
    float: right;
}

.services {
    // background-color: red;
    width: 70rem;
    height: 45rem;
    margin: 0 auto;
}

.recharge-section {
    // background-color: red;
    // width: $grid-width;
    height: 50rem;
    width: 100rem;
    margin: 0 auto;

    @include clearfix;

}