//############## LINK BUTTON ##############

.btn {
    //  background-color:red;
    &:link,
    &:visited {
        font-size: 1.6rem;
        font-family: $font-main;
        font-weight: 500;
        text-decoration: none;
    }
    &--signup {
        border-radius: $radius-smaller;
        float: right;
        padding: 0.4rem 1.8rem;
        color: $color-primary;
        background-image: linear-gradient(45deg, $color-primary 50%, transparent 0%);
        background-size: 240% 100%;
        border: 2px solid $color-primary;
        transition: all 0.3s;
        background-position: right bottom;

        &:hover {
            background-position: left bottom;
            color: $color-white;
        }
        &:active {
            transform: translateY(1px);
        }
    }


    &--forgot {
        font-size: 1.5rem;
        color: $color-blue;
        padding: 0.7rem 0.2rem;
        border-bottom: 1.5px solid currentColor;
        transition: all 0.2s;
        
        display: block;
        width:13.8rem;

        backface-visibility: hidden;
        
        &:hover {
            background-color: $color-blue;
            color: $color-white;
            transform: translateY(-1.5px);
            box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
        }
        &:active {
            transform: translateY(0.8px);
            box-shadow: 0 0.3rem 0.7rem rgba($color-black, .2);
        } 
    }
    &--login-ac {
        width: 13rem;
    }
    &--otp {
        width: 9rem;
    }


}


.cta {
    border: none;   
    border-radius: $radius-smaller;
    font-family: $font-main;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-white;     
    padding: 0.8rem 4rem;
    background-color: $color-primary;
    cursor: pointer;

    &:focus {
        outline: none; 
    }
    &--login {
        float: right;

    }
}

