
.nav {
    // background-color: green;
    height: 100%;
    display: inline-block;
    list-style: none;
    margin-top: -2.2rem;
    
    &__list {
        display: inline-block;

        width: 100%;
        display: inline-block;
        height: 10rem;
        width: 10rem;
        
        margin-left: 4.35rem;
        margin-top: 3.5rem;

    }  

    &__link {
        
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-blue-dark;
            padding: 1rem;
            border-radius: 4px;
            border: 2px solid $color-left-bg;
            color: $color-blue-dark;
            transition: all 0.2s;

            display: inline-block;
            text-align: center;
            //background-color: red;

        }
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0.8rem 2rem rgba($color-black, .15);
            border: 2px solid $color-right-bg;
            background-color: $color-left-bg;
        }

        &:active {
            transform: scale(1.05);
            box-shadow: 0 0.5rem 1.5rem rgba($color-black, .15);
        }

    }

    &__icon {
        height: 6.5rem;
        width: 6.5rem;

        &--fastag {
            margin-left: 2rem;
        }
  
    }
    
    &__text {
        font-size: 1.25rem;

    }

}
