.login-box {
    width: 35rem;
    margin: 0 auto;
}
.input-box {
    height: 4.4rem;
    position: relative;
 
    &:not(:last-child) {
        margin-bottom: 5rem;
    }

    &__icon {
        height: 1.8rem;
        width: 1.8rem;

        position: absolute;
        top: 1.1rem;
        left: 0.7rem;
        
        fill: $color-gray-2;
        
        &--phone {
            height: 1.6rem;
            width: 1.6rem;
            top: 1.2rem;
        }
    }
    &__in {
        display: inline-block;
        width: 100%;
        height: 4.4rem;
        padding: 1rem 3.5rem;
        
        font-size: 1.4rem;
        font-weight: 500;
        font-family: inherit;
        
        color: $color-gray-3;
        background-color: $color-white;
        border-radius: $radius-smaller $radius-smaller 0 0;
        border: none;
        border-bottom: 2px solid $color-blue;

        transition: all 0.3s;
             
        &:focus {
            outline: none;
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
        }

        &:focus:invalid {
            border-bottom: 2px solid $color-red;
        }
        &:focus:valid {
            border-bottom: 2px solid $color-primary;
        }

        &::-webkit-input-placeholder {
            color: $color-gray-2;
            font-weight: 500;
        }
        &[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    }
    &__label {
        display: inline-block;
        font-size: 1.4rem;
        color: $color-gray-3;
        font-family: inherit;
        font-weight: 500;
        transform: translate(2.6rem, -6.5rem);

        transition: all 0.2s;     

    }
    &__in:placeholder-shown +  &__label {
        opacity: 0;
        visibility: hidden;
        transform: translate(3.6rem, -3.5rem);
        
    }
}

.left-bg {
    // background-color: red;
   // border-right: 1px solid $color-gray-1;
    &__img {
        height: 55rem;
        width: 55rem;
    }
}