.login-form {
    margin-top: 2.5rem;
    // background-color: red;
}
.form-box {
    display: block;
    font-family: $font-main; 
    //background-color: red;
    position: relative;
    max-width: 100%;
    height: 4.6rem;
    margin-bottom: 3.5rem;

    &__input {
        display: inline-block;
        width: 100%;
        height: 4.6rem;
        padding: 1rem 1.5rem;
        font-family: $font-main;
        font-size: 1.4rem;
        font-weight: bold;
        color: $color-blue-dark;
        border-radius: 4px;
        border: 2px solid $color-blue-dark; 
        background-color: $color-left-bg;
        border: 2px solid $color-blue-dark;
        box-shadow: 0 0.6rem 2rem rgba($color-blue-dark, 0.3);
        transition: all 0.2s;
        
   
        &:focus {
            outline: none;
            box-shadow: 0 0.6rem 2rem rgba($color-blue-dark, 0.3);
            width: 103%;
            border-bottom: 2px solid $color-blue-dark;
            font-size: 1.6rem;
            font-weight: 500;
            -moz-appearance: number-input;
            -webkit-appearance: number-input;
            background-color: $color-left-bg;

        } 
        // &:focus:invalid {
        //     border: 2px solid orangered;             
        // }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

    }
    &__label {
        display: inline-block;
        min-width: 3.8rem;
        font-family: $font-main;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.3px;
        padding: 0 0.3rem;
        line-height: 1;
        border-radius: 2px;
        
        background-color: $color-left-bg;
        color: $color-blue-dark;

        transform: translate(1.5rem, -5.6rem);
        transition: all .2s;

        // visibility: hidden;
        // opacity: 0;

    }

    &__input:placeholder-shown + &__label {
        transform: translate(1.8rem,-3.5rem);
        visibility: hidden;
        opacity: 0;

    }

    &__icon {
        display: inline-block;
        height: 1.4rem;
        width: 1.4rem;
        fill: $color-grey-dark-2;
        
        position: absolute;
        top: 1.45rem;
        right: 1.2rem;
        transition: all 0.2s;

        &--lock {
            height: 1.9rem;
            width: 1.9rem;
            right: 0.9rem;
        }
    }

    &__input:focus ~ &__icon {  
        right: 0rem;    

    }
    &__forgot-pw {

        &:link,
        &:visited {
            color: $color-primary;
            font-family: $font-main;
            font-weight: normal;
            float: right;
            padding: 0.2rem;
            text-decoration: none;
        }
            
    }

}