/*
.user-greeting {
    //background-color: #fff;
    margin-bottom: 1rem; 
}
.user-info {
    background-color: yellow;
    margin:  0 auto;
    display: block;
    width: 20.5rem;
    
    &__img {
        height: 9rem;
    }
    &__details {
        background-color: #fff;
        display: inline-block;
    }
    &__name {

    }
    &__mail {

    }
    &__phone {

    }
}


.user-nav {
    background-color: green;
    width: 

    &__list {

    }
    &__item {

    }
    &__link {

    }
    &__icon {
        height: 5rem;
        width: 5rem;

    }
    &__text {
    }
}

*/