/////////////////near wallet/////////////////

.user-wallet {
    //background-color: $color-bg;
    //  background-color: $color-primary;
    display: inline-block;


    position: relative;
    top: 0.5rem;
    right: 7rem;

    transition: right 0.2s;

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            padding: 0.5rem 1.5rem;
            border-radius: 100px;
            border: 2px solid $color-primary;
            transition: right 0.2s;
            
        }
        &:hover {
            background-color: $color-white;
        }
    }

    &__text {
        font-size: 1.3rem;
        font-family: $font-main;
        font-weight: 500;
        color: $color-gray-3;
        vertical-align: middle;
 
    }
    &__icon {
        height: 1.7rem;
        width: 1.7rem;
        vertical-align: middle;
        fill: $color-gray-3;
        margin-right: 0.5rem; 
    }
}

/////////////////dropdown menu/////////////////

.user-box {
    position: relative;
    
    &__user {
        display: inline-block;
        background-color: $color-bg;
        box-shadow: 0 2px 5px rgba($color-black, 0.2);
        border-radius: 2rem;
        border: 2px solid $color-primary;

        height: 4rem;
        width: 4rem;

        position: absolute; 
        top: -0.5rem;
        right: 0;

        transition: width 0.2s, height 0.2s;
        
    }
    
    &__user-name { 
        display: none;
        font-display: $font-main;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-primary;
        padding: 0.5rem;
        // min-width: 10rem;
        
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        animation: expandMenuToBottom 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s backwards;
        backface-visibility: hidden;
    }
    &__user-icon {
        height: 2.7rem;
        width: 2.7rem;
        vertical-align: middle;

        fill: #00bcb4;
        position: absolute; 
        top: 0.4rem;
        right: 0.4rem;
    }
/////////////////dropdown list/////////////////
    &__list {
        display: none;
        list-style: none;
        min-width: 13rem;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1.7rem;

        position: absolute;
        top: 1.5rem;
        right: 0rem;
        animation: expandMenuToBottom 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s backwards;
    
    }


    &__item {
        padding: 0.4rem 1rem;
        transition: all 0.2s;
        &:hover {
            transform: translateX(1px);
          
        }
    }   

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            font-family: $font-main;
            color: $color-gray-3;
            font-weight: 500;
        }
        &:hover {
            color: $color-primary;
        }
    }
    &__icon {
        height: 1.6rem;
        width: 1.6rem;
        margin-bottom: -3px;
        margin-right: 4px;
        fill: $color-gray-3;

    }
/////////hover to effect/////////////
    &:hover &__user {
        width: 13rem;
        height: 20rem;
    }
    &:hover &__user-name {
        display: inline-block;
    }
    &:hover &__list {
        display: inline-block;
    }
    &__link:hover &__icon {
        fill: $color-primary;
    }

}

.user-box:hover ~ .user-wallet {
    right: 15rem;
}
