.user-dropdown {
    position: absolute;
    top: 2.5rem;
    right: -0.2rem;
    animation: moveFromRight 0.5s cubic-bezier(1, 0, 0, 1) 0.6s backwards;
    
    &__checkbox-input {
        display: none;
    }
    &__button {
        height: 3.5rem;
        width: 3.5rem;
        background-color: transparent;
        display: inline-block;
        position: absolute;
        top: 0rem;
        right: 1.2rem;
        border-radius: 100px;
        transition: width 0.2s;
        z-index: 100;
        opacity: 0;
        transition: all 0.2s;
    }
    &__checkbox-input:checked ~ &__button {
        right: 9rem;
    }

    &__icon-box {
        display: inline-block;
        background-color: #fff;
        height: 3.5rem;
        width: 5rem;
        box-shadow: 0 0.5rem 2rem rgba($color-black, .3);
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        transition: width 0.2s;  

    }  
    &__checkbox-input:checked ~ &__icon-box {
        width: 12.8rem;
    }
    &__user-icon {
        height: 2.7rem;
        width: 2.7rem;
        vertical-align: middle;
        position: absolute;
        top: 0.4rem;
        right: 1.8rem;
        transition: all 0.2s;
    }
    &__checkbox-input:checked ~ &__icon-box > &__user-icon {
        right: 9.6rem;
    }
    &__user-name {
        display: none;
    }
    
    &__checkbox-input:checked ~ &__user-name {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-primary;
        min-width: 9rem;
        position: absolute;
        top: 0.6rem;
        right: 0rem;
        animation: nameRotate 0.5s  cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s backwards;
        backface-visibility: hidden;
    }

    &__list {
        display: none;
    }

    &__checkbox-input:checked ~ &__list {
        min-width: 10rem; 
        background-color: #fff;
        display: inline-block;
        padding: 1rem;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 1.5rem 1rem rgba($color-black, .1);
        margin-top: -0.5rem;
        position: absolute;
        top: 3.9rem;
        right: 0;
        animation: expandMenuToBottom 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s backwards;
      }
    &__item {
        list-style: none;
        padding: 0 0.5rem; 
        transition: all 0.1s ease-out;
        &:not(:last-child) {
            margin-bottom: .8rem;
        }
        &:hover {
            transform: translateY(-2px);
        }
        &:active {
            transform: translateY(-1.3px);
        }        
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-primary; 
        }
        
    }
    &__item > &__link:hover {
        color: $color-blue-dark;
    }

    &__icon {
        height: 1.55rem;
        width: 1.55rem;
        fill: currentColor;
        vertical-align: middle;
        margin-top: -0.3rem;
    }
    &__text {
        font-weight: 500;
        padding: 0.3rem;
        font-size: 1.35rem;
    }
}


