body {
    font-family: $font-main;
    font-size: 1.6rem;
    font-weight: $font-weight-medium;
    line-height: 1.5;    
}


.user-menu {
    font-size: 1.5rem;
    font-family: $font-main;
    font-weight: 500;
    
}